   
    <div class="row">
        <div class="col-xs-12">

            {{ form_start(traitementDossier_form,{'attr':{'class':'form-horizontal','role':'form','action':path('traitementdossier_new')}}) }}                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.etat) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.etat,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.dossier) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.dossier,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.user) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.user,{'attr':{'class':'select2'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.user) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            <select id="traitement_dossier_user" name="traitement_dossier[user]" class="select2">
                                <option value="" disabled="">Selectionner l'utilisateur</option>
                                {% for user in users %}
                                <option value="{{ user.id }}"> {{ user }} </option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.dateDebut) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.dateDebut,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.dateFin) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.dateFin,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(traitementDossier_form.remarques) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(traitementDossier_form.remarques,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                        
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info tooltip-info" data-rel="tooltip" data-placement="top"   title="enregistrer TraitementDossier">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            enregistrer
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" data-rel="tooltip" data-placement="top"  type="reset"  title="Vider le formulaire de TraitementDossier" >
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            vider le formulaire
                        </button>
                    </div>
                </div>

                {{ form_end(traitementDossier_form) }}

            </div><!-- /.col -->
        </div><!-- /.row -->           

        