{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li>
        <a href='{{ path('traitementdossier_index') }}'>Revenir à la liste</a>
    </li>
    <li class="active">Affichage de TraitementDossier</li>
    {% endblock %}


{% block  page_header %}
    Traitement Dossier
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Dossier {{ traitementDossier.dossier }} / Utilisateur: {{ traitementDossier.user }}
    </small>
{% endblock %}

{% block body %}


    <div class="col-xs-12 col-md-12">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter text-center">
                    <i class="ace-icon fa fa-table"></i>
                    Informations sur le Traitement du Dossier <span class="label label-info">{{ traitementDossier.dossier }} </span> par {{ traitementDossier.user }}
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover bg-info">

                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ traitementDossier.id }}</td>
                            </tr>
                            <tr>
                                <th>Etat</th>
                                <td>{{ traitementDossier.etat }}</td>
                            </tr>
                            <tr>
                                <th>Datedebut</th>
                                <td>{% if traitementDossier.dateDebut %}{{ traitementDossier.dateDebut|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Datefin</th>
                                <td>{% if traitementDossier.dateFin %}{{ traitementDossier.dateFin|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Remarques</th>
                                <td>{{ traitementDossier.remarques }}</td>
                            </tr>                    
                            <tr>
                                <th>Dossier</th>
                                <td>{{ traitementDossier.dossier }}</td>
                            </tr>                    
                            <tr>
                                <th>Utilisateur</th>
                                <td>{{ traitementDossier.user }}</td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.span -->


    <div class="clearfix form-actions">
        <div class="col-md-9">
            &nbsp; &nbsp; &nbsp;
            {% if is_granted('ROLE_TRAITEMENTDOSSIER_M') and traitementDossier.user==app.user and traitementDossier.dossier.etat!='Terminé' %}
                <a class="btn btn-warning tooltip-warning" data-rel="tooltip" data-placement="top"  type="button" href="{{ path('traitementdossier_edit', { 'id': traitementDossier.id }) }}" title="Modifier traitementdossier">
                    <i class="ace-icon fa fa-edit bigger-110"></i> modifier</a>
                {% endif %}
                {% if is_granted('ROLE_TRAITEMENTDOSSIER_S')  and traitementDossier.user==app.user and traitementDossier.dossier.etat!='Terminé' %}
                <div class="pull-left col-sm-3">
                    {{ form_start(delete_form) }}
                    <button class="btn btn-danger tooltip-error" data-rel="tooltip" data-placement="top"  title="Supprimer traitementdossier">
                        <i class="ace-icon fa fa-trash bigger-110"></i>
                        Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
