{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li class="active">Liste des Users</li>
    {% endblock %}

{% block  page_header %}
    Index
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Liste des Users
    </small>
{% endblock %}



{% block body %}

    
    <div class="table-header text-center">
        Liste des Users
    </div>

    <form method="POST" action="{{ path('user_deleteSelection') }}">

        <table id="dynamic-table" class="table table-striped table-bordered table-hover bg-info">
            <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace ace-switch ace-switch-4"/>
                            <span class="lbl"></span>
                        </label>
                    </th>

                    <th>Nom d'utilisateur</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Datenaiss</th>
                    <th>Lieunaiss</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" name="selection[{{user.id}}]" class="ace ace-switch ace-switch-4" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>{{ user.username }}</td>

                        <td>{{ user.prenom }}</td>

                        <td>{{ user.nom }}</td>

                        <td>{{ user.datenaiss }}</td>

                        <td>{{ user.lieunaiss }}</td>

                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">                            
                                <a class="blue" href="{{ path('user_show', { 'id': user.id }) }}">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">                                    <li>
                                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="tooltip-info" data-rel="tooltip"  title="Voir user">
                                                <span class="blue">
                                                    <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                </span>   
                                            </a>
                                        </li> 
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <a class="btn btn-info tooltip-info" data-rel="tooltip" data-placement="top"  type="button" href="{{ path('user_new') }}"  title="Ajouter user">
                    <i class="ace-icon fa fa-plus bigger-110"></i> 
                    Ajouter
                </a>                    <button class="btn btn-danger tooltip-error" data-rel="tooltip" data-placement="top"   title="Supprimer la selection de user"><i class="fa fa-trash"></i> Supprimer selection</button>
            </div>
        </div>
    </form>

{% endblock %}
