    {% extends 'base.html.twig' %}

    {% block  breadcrumb %}
    <li>
        <a href='{{ path('user_index') }}'>Revenir à la liste</a>
    </li>
    <li class="active">Formulaire de User</li>
        {% endblock %}

    {% block  page_header %}
    Formulaire
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Création de User
    </small>
    {% endblock %}



    {% block body %}
    <div class="row">
        <div class="col-xs-12">

            {{ form_start(form,{'attr':{'class':'form-horizontal','role':'form','action':path('user_new')}}) }}                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.prenom) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.prenom,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.nom) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.nom,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.datenaiss) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.datenaiss,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.lieunaiss) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.lieunaiss,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.telephone) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.telephone,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.email) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.email,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.plainPassword) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.plainPassword,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.username) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.username,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        

                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.adresse) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.adresse,{'attr':{'id':'form-field'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.idgroup) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.idgroup,{'attr':{'class':'select2'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.entite) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.entite,{'attr':{'class':'select2'}}) }}
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.entite) }}</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            <select id="user_entite" name="user[entite]" class="select2">      
                              {% for entite in mes_entites %}
                                  <option value="{{ entite.id }}" > {{ entite }} </option>
                                  {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>                        
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Etat Compte</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right">
                            {{ form_widget(form.enabled,{'attr':{'class':''}}) }}
                        </span>
                    </div>
                </div>                        

                        
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info tooltip-info" data-rel="tooltip" data-placement="top"   title="enregistrer User">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            enregistrer
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" data-rel="tooltip" data-placement="top"  type="reset"  title="Vider le formulaire de User" >
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            vider le formulaire
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}

            </div><!-- /.col -->
        </div><!-- /.row -->           

                <div class="clearfix form-actions">
    <div class="col-md-offset-3 col-md-9">
    </div>
</div>{% endblock %}
        