{% extends '::base.html.twig' %}

{% block body -%}
    <div class="pull-left">
        {% if is_granted('ROLE_FOSGROUP_A') %}
            <a href="{{ path('fosgroup_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nouveau</a>
        {% endif %}
    </div>
    <div class="box-body">
        <table id="example" class="table table-bordered table-striped table-condensed table-hover responsive-utilities jambo_table">
            <thead>
                <tr>
                    <th colspan="3"  class="text-center">Liste des Groupes d'Utilisateurs </th>
                </tr>
                <tr align='center'>
                    <th width="60px"><input type="checkbox" onclick="if (this.checked == 1)
                                cocher(true);
                            else
                                decocher(false);" name="checkall" id="checkall" class="flat" />
                    </th>
                    <th class="text-center">Nom du Groupe</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <input type="checkbox" class="checkbox flat" name="element-checkbox[{{ entity.id }}]" id="{{entity.id}}" value="{{entity.id}}"  />
                        </td>
                        <td class="text-center">
                            {{ entity.name }}
                        </td>
                        <td>
                            {% if is_granted('ROLE_FOSGROUP_V') %}
                                <a href="{{ path('fosgroup_show', { 'id': entity.id }) }}" class='skin-blue'><i title='Visualiser' class="btn btn-primary fa fa-eye "></i></a>
                                {% endif %}
                                {% if is_granted('ROLE_FOSGROUP_M') %}
                                <a href="{{ path('fosgroup_edit', { 'id': entity.id }) }}"><i title='Modifier'class="btn btn-warning fa fa-pencil-square-o "></i></a>
                                {% endif %}

                        </td>

                    </tr>
                {% endfor %}


            </tbody>

        </table>
    </div><!-- /.box-body -->
{% endblock %}
