    {% extends 'base.html.twig' %}

    {% block  breadcrumb %}
    <li>
        <a href='{{ path('notification_index') }}'>Revenir à la liste</a>
    </li>
    <li class="active">Affichage de Notification</li>
        {% endblock %}

    
    {% block  page_header %}
    Formulaire
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Affichage de Notification
    </small>
    {% endblock %}

    {% block body %}


    <div class="col-xs-12 col-sm-8 col-sm-offset-2 widget-container-col">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter text-center">
                    <i class="ace-icon fa fa-table"></i>
                    Informations sur Notification 
                </h5>

                <div class="widget-toolbar widget-toolbar-light no-border">
                    <select id="simple-colorpicker-1" class="hide">
                        <option selected="" data-class="blue" value="#307ECC">#307ECC</option>
                        <option data-class="blue2" value="#5090C1">#5090C1</option>
                        <option data-class="blue3" value="#6379AA">#6379AA</option>
                        <option data-class="green" value="#82AF6F">#82AF6F</option>
                        <option data-class="green2" value="#2E8965">#2E8965</option>
                        <option data-class="green3" value="#5FBC47">#5FBC47</option>
                        <option data-class="red" value="#E2755F">#E2755F</option>
                        <option data-class="red2" value="#E04141">#E04141</option>
                        <option data-class="red3" value="#D15B47">#D15B47</option>
                        <option data-class="orange" value="#FFC657">#FFC657</option>
                        <option data-class="purple" value="#7E6EB0">#7E6EB0</option>
                        <option data-class="pink" value="#CE6F9E">#CE6F9E</option>
                        <option data-class="dark" value="#404040">#404040</option>
                        <option data-class="grey" value="#848484">#848484</option>
                        <option data-class="default" value="#EEE">#EEE</option>
                    </select>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th colspan="2">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ notification.id }}</td>
                            </tr>
                            <tr>
                                <th>Libelle</th>
                                <td>{{ notification.libelle }}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{ notification.contenu }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{% if notification.date %}{{ notification.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Etat</th>
                                <td>{% if notification.etat %}Vrai{% else %}Faux{% endif %}</td>
                            </tr>                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.span -->


        <div class="clearfix form-actions">
    <div class="col-md-offset-3 col-md-9">
        &nbsp; &nbsp; &nbsp;
        <a class="btn btn-warning tooltip-warning" data-rel="tooltip" data-placement="top"  type="button" href="{{ path('notification_edit', { 'id': notification.id }) }}" title="Modifier notification">
            <i class="ace-icon fa fa-edit bigger-110"></i> modifier</a>
        <div class="pull-left col-sm-3">
            {{ form_start(delete_form) }}
            <button class="btn btn-danger tooltip-error" data-rel="tooltip" data-placement="top"  title="Supprimer notification">
                <i class="ace-icon fa fa-trash bigger-110"></i>
                Supprimer
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>{% endblock %}
