{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li>
        <a href='{{ path('dossier_index') }}'>Revenir à la liste</a>
    </li>
    <li class="active">Formulaire de Dossier</li>
    {% endblock %}

{% block  page_header %}
    Formulaire
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Création de Dossier
    </small>
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-xs-12">

            {{ form_start(form,{'attr':{'class':'form-horizontal','role':'form','action':path('dossier_new')}}) }}                                    
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.libelle) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.libelle,{'attr':{'id':'form-field'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.degreImportance) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.degreImportance,{'attr':{'class':'select2'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group hidden">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.dateDebutTraitement) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.dateDebutTraitement,{'attr':{'id':'form-field'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.dateFinTraitementPrevu) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.dateFinTraitementPrevu,{'attr':{'id':'form-field'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.dureeMaximumTraitement) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.dureeMaximumTraitement,{'attr':{'class':'form-field','min':0,'max':90}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.etat) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.etat,{'attr':{'class':'form-field select2'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group hidden">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.dateDerniereModification) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.dateDerniereModification,{'attr':{'id':'form-field'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="form-group hidden">
                <label class="col-sm-3 control-label no-padding-right">{{ form_label(form.utilisateurDerniereModification) }}</label>
                <div class="col-sm-9">
                    <span class="input-icon input-icon-right">
                        {{ form_widget(form.utilisateurDerniereModification,{'attr':{'id':'form-field'}}) }}
                    </span>
                </div>
            </div>                        


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info tooltip-info" data-rel="tooltip" data-placement="top"   title="enregistrer Dossier">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        enregistrer
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" data-rel="tooltip" data-placement="top"  type="reset"  title="Vider le formulaire de Dossier" >
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        vider le formulaire
                    </button>
                </div>
            </div>

            {{ form_end(form) }}

        </div><!-- /.col -->
    </div><!-- /.row -->           

    {% endblock %}
